body {
    position: relative;
 }

div.col-sm-9 div {
    height: 750px;
    font-size: 25px;
}

p{
	font-size: 20px;
}

div.col-sm-9 {
    top: 70px;
    float: right;
    right: 150px;
    width: 85%;
}

#section1 {color: #000; background-color: #ffffff;}
#section2 {color: #000; background-color: #ffffff;}
#section3 {color: #000; background-color: #ffffff;}
#section4 {color: #000; background-color: #ffffff;}
#section5 {color: #000; background-color: #ffffff;}
#section6 {color: #000; background-color: #ffffff;}
#section7 {color: #000; background-color: #ffffff;}
#section8 {color: #000; background-color: #ffffff;}
#section9 {color: #000; background-color: #ffffff;}
#section10 {color: #000; background-color: #ffffff;}
#section11 {color: #000; background-color: #ffffff;}
#section12 {color: #000; background-color: #ffffff;}
#section13 {color: #000; background-color: #ffffff;}
#section14 {color: #000; background-color: #ffffff;}

@media screen and (max-width: 810px) {
    #section1, #section2, #section3, #section4, #section5,
    #section6, #section7, #section8, #section5, #section10,
    #section11, #section12 {
        margin-left: 150px;
        width: 80%;
    }
}
