 #section1 li{
  /* color: #ff0ff0; */
  	list-style: square inside;
    margin-bottom: -11px;
}
 #section2 li {
   /*color: #ff66a6; */
 	/* background-color: #ff66a3; */
}
 #section3 li{
 	/*color: #ff0000;*/
    margin-bottom: 5px;
 }
 #section4 li{
 	/*color: #ff751a;*/
 	list-style: square inside;
    margin-bottom: 10px;
 }
#section5 li {
 	/*color: #c653c6;*/
 	list-style: square inside;
    margin-bottom: 0px;
 }

 @media screen and (max-width: 450px) {
    #section1, #section2, #section3, #section4, #section5 {
        margin-left: 50px;
    }
}
